.products__gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));
  gap: 12px;
  justify-content: center;
}
/* .product-list--banner {
    /* width: 100%;
    min-width: 328px;
    min-height: 498px;*/
/* padding-inline: clamp(24px, 15%, 96px);
    padding-block: 32px; */
/* padding: 32px 24px; */
/* background-image: url("../assets/banner\ image.jpg");
    background-size: cover; */
/* grid-column: 1 / span 2;
    grid-row-start: 3; */
/* } */

.product-list {
  width: 100%;
  max-width: 441px;
  aspect-ratio: 1;
  padding: 8px;
  border-radius: 6px;
  background-color: var(--color-bg-2);
}
.product-list__img-area {
  min-width: 142px;
  max-width: 377px;
  aspect-ratio: 1;
}
.product-list__product-id {
  position: relative;
  top: -100%;
  left: 0;
}
.product-list__product-id-txt {
  font-size: 8px;
}

@media only screen and (min-width: 700px) {
}
@media only screen and (min-width: 1000px) {
}

/* @media only screen and (min-width: 530px) {
    .products__gallery {
      grid-auto-rows: 158px;
    }
    .product-list {
    }
    .product-list--banner {
      background-size: 200%;
      background-repeat: no-repeat;
      background-position-x: -30px;
      background-position-y: 30px;
    }
  }
  
  @media only screen and (min-width: 900px) {
    .products__gallery {
      grid-template-columns: repeat(auto-fill, 441px);
      gap: 24px;
    }
    .product-list {
      height: 441px;
    }
    .product-list__img-area {
      height: 377px;
    }
    .product-list--banner {
      min-height: 441px;
      background-size: 200%;
      background-repeat: no-repeat;
      grid-column-start: 1;
      grid-row: 2 / span 1;
    }
  } */
