.products__gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));
  gap: 12px;
  justify-content: center;
}

.product-list {
  width: 100%;
  max-width: 441px;
  aspect-ratio: 1;
  padding: 8px;
  border-radius: 6px;
  background-color: var(--color-bg-2);
}
.product-list__img-area {
  min-width: 142px;
  max-width: 377px;
  aspect-ratio: 1;
}
.product-list__product-id {
  position: relative;
  top: -100%;
  left: 0;
}
.product-list__product-id-txt {
  font-size: 8px;
  text-transform: uppercase;
}

@media only screen and (min-width: 940px) {
  .products__gallery {
    grid-template-columns: repeat(auto-fit, minmax(441px, 1fr));
    gap: 24px;
    max-width: 1836px;
  }
  .product-list {
    width: 441px;
    padding: 32px;
    justify-self: center;
  }
  .product-list__img-area {
    width: 377px;
  }
  .product-list__product-id-txt {
    font-size: 16px;
  }
}
