:root {
  --color-text: #1d1d1d;
  --color-bg-1: #fff;
  --color-bg-2: #eaeae8;
  --color-label-1: #d9d6b0;
  --color-label-2: #d4b0d9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: var(--color-text);
}
html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -1.5px;
}

header {
  padding-inline: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-bg-1);
  z-index: 3;
}

.container {
  width: 100%;
}

header .container,
.navigation__top-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}
.brand,
.brand-container,
.header__menu-open,
.navigation__menu-close {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__brand-title,
.header__menu-title,
.login-name {
  text-transform: uppercase;
  letter-spacing: -0.5px;
}
.header__brand-company-name,
.login {
  display: none;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 290px;
  height: 100vh;
  padding: 0 16px 0 32px;
  position: fixed;
  z-index: 3;
  right: -290px;
  top: 0;
  overflow: hidden;
  background-color: var(--color-bg-1);
  transition: 0.5s;
}

nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover,
nav a.active {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.visible {
  right: 0;
}
#overlay {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}

.visible + #overlay {
  display: block;
}

#hero-section {
  margin-top: 64px;
  padding-inline: 16px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 24px;
  height: 100vh;
}

.hero__hero-area {
  height: 76%;
  background-image: url(../assets/hero-section-img.jpg);
  background-size: cover;
  background-position: 50%;
  border-radius: 8px;
}

img {
  width: 100%;
}

#featured-section {
  height: 577px;
  padding: 36px 16px 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.featured-products {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.featured__subtitle {
  text-transform: uppercase;
  line-height: 140%;
  letter-spacing: -0.5px;
}
.featured-products-slider {
  display: flex !important;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper-navigation {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 36%;
  width: 100%;
  z-index: 1;
}
.swiper-arrow {
  border: 1px solid var(--color-bg-2);
  border-radius: 50%;
  background-color: var(--color-bg-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal {
  background-color: var(--color-bg-2);
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--color-text) !important;
}

#products-section {
  padding: 24px 16px 64px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.products__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.products__subtitle {
  text-transform: uppercase;
}
#products-number-selection {
  border: transparent;
  font-weight: 700;
  padding-inline: 12px;
}

#product-pop-up-dialog {
}

@media only screen and (min-width: 940px) {
  header {
    padding-inline: 42px;
  }
  header .container {
    padding-top: 32px;
  }
  .login {
    display: block;
  }
  .brand-container,
  .login-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
  }
  .brand {
    gap: 32px;
  }
  .header__brand-company-name {
    display: block;
    text-transform: uppercase;
  }
  .header__menu-open,
  .navigation__top-bar-container {
    display: none;
  }
  nav {
    width: 100%;
    height: 100%;
    flex-direction: row;
    position: static;
    justify-content: center;
  }
  nav > ul {
    flex-direction: row;
    gap: 42px;
  }
  #hero-section {
    margin-top: 160px;
    padding-inline: 42px;
    gap: 42px;
  }
  .hero__logo-container > svg {
    width: 918px;
    height: 138px;
  }
  #featured-section {
    height: 900px;
    padding: 96px 42px;
  }
  .featured-products {
    gap: 42px;
  }
  .featured__subtitle {
    line-height: 150%;
  }
  .featured__title {
    font-size: 42px;
  }
  .featured-products-slider {
    gap: 64px;
  }
  .featured-intro {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .featured__subtitle {
    line-height: 150%;
    letter-spacing: -0.5px;
  }
  .featured__title {
    line-height: 120%;
    font-size: 42px;
    letter-spacing: -1.5px;
  }
  .products__intro {
    flex-direction: row;
    gap: 24px;
  }
}
